/* Set active tab background for regular, non-container tabs */
:root {
  --active-tab-colour: #ECCECE;
}

/* Hide default container indicator */
#tabbrowser-tabs .tab-context-line {
    display: none;
}

/* Set active tab background to container colour, hide theme's background image if present */
#tabbrowser-tabs .tab-background[selected="true"] {
    background-color: var(--identity-icon-color, var(--active-tab-colour)) !important;
    background-image: none !important;
    filter: brightness(100%);
}

/* Set inactive tab background to dimmed container colour */
#tabbrowser-tabs .tab-background {
    background-color: var(--identity-icon-color) !important;
    filter: brightness(50%);
}
